SWARM_LLM_NAME1=OpenRouter
SWARM_LLM_TYPE1=openai-compatible
SWARM_LLM_BASE_URL1=https://openrouter.ai/
SWARM_LLM_API_KEY1=your_api_key_here
SWARM_LLM_MODEL1=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
SWARM_LLM_CHAT_PATH1=/api/v1/chat/completions
SWARM_LLM_STREAM1=true

SWARM_LLM_NAME2=DeepSeek
SWARM_LLM_TYPE2=openai-compatible
SWARM_LLM_BASE_URL2=https://api.deepseek.com
SWARM_LLM_API_KEY2=your_DeepSeek_api_key_here
SWARM_LLM_MODEL2=deepseek-v4-flash
SWARM_LLM_CHAT_PATH2=/chat/completions
SWARM_LLM_STREAM2=true

SWARM_LLM_NAME3=Google
SWARM_LLM_TYPE3=google-native
SWARM_LLM_BASE_URL3=https://generativelanguage.googleapis.com
SWARM_LLM_API_KEY3=your_google_ai_api_key_here
SWARM_LLM_MODEL3=gemini-flash-latest
SWARM_LLM_CHAT_PATH3=/v1beta/models/{model}:generateContent
SWARM_LLM_STREAM3=false

SWARM_LLM_ACTIVE_PROVIDER=1
SWARM_LANG=zh-CN
SWARM_LLM_MULTIMODAL=false
SWARM_LLM_MULTIMODAL_IMAGE=true
SWARM_LLM_MULTIMODAL_AUDIO=true
SWARM_LOCAL_TOOLS_ENABLED=true
SWARM_WORKSPACE_ROOT=../..
SWARM_SKILLS_ROOT=../Skills
SWARM_OBSCURA_COMMAND=obscura
